USE [CursosDB_Bertorello]
GO
/****** Object:  Table [dbo].[Cursos]    Script Date: 24/6/2026 17:43:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cursos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[Categoria] [nvarchar](100) NOT NULL,
	[Duracion] [int] NOT NULL,
	[CuposDisponibles] [int] NOT NULL,
	[Activo] [bit] NOT NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cursos] ON 

INSERT [dbo].[Cursos] ([id], [Nombre], [Categoria], [Duracion], [CuposDisponibles], [Activo]) VALUES (1, N'Desarrollo Web', N'Programacion', 40, 25, 0)
INSERT [dbo].[Cursos] ([id], [Nombre], [Categoria], [Duracion], [CuposDisponibles], [Activo]) VALUES (2, N'Base de Datos SQL Server', N'Base de Datos', 30, 20, 1)
INSERT [dbo].[Cursos] ([id], [Nombre], [Categoria], [Duracion], [CuposDisponibles], [Activo]) VALUES (3, N'Diseño Grafico', N'Diseño', 25, 15, 1)
SET IDENTITY_INSERT [dbo].[Cursos] OFF
GO
